# Auto detect text files and perform LF normalization
* text=auto

# Go files
*.go text eol=lf
go.mod text eol=lf
go.sum text eol=lf

# JavaScript files
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf

# CSS files
*.css text eol=lf
*.scss text eol=lf

# HTML files
*.html text eol=lf

# Documentation
*.md text eol=lf
LICENSE text eol=lf

# Docker files
Dockerfile* text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# SQL files
*.sql text eol=lf

# Exclude files from GitHub language statistics
*.md linguist-documentation
*.css linguist-vendored